<!-- <html>
  <Head></Head>
  <body> 
     <div class="wrapper">
      <form class="form-signin" method="POST" action="/id">
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="text" class="form-control" name="name" placeholder="Username" required autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <input type="submit" value="submit">
      </form>
    </div>
    </body>
 </html> -->

 <html>
    <head></head>
    <body>
        <h1>Log In</h1>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Your Username">
            <input type="submit" value="Submit">
        </form>
        <a href={{ url_for('signup') }}>Sign Up</a>
    </body>
</html>